<a href="https://colab.research.google.com/github/fleshuu/DLUB2021/blob/master/1.%20EDA%20-%20Exploratory%20Data%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EDA - Exploratory Data Analysis

1) Quickly describe a dataset; number of rows/columns, missing data, data types, preview.

2) Clean corrupted data; handle missing data, invalid data types, incorrect values.

3) Visualize data distributions; bar charts, histograms, box plots.

4) Calculate and visualize correlations (relationships) between variables; heat map.

Sources:
https://www.datacamp.com/community/tutorials/exploratory-data-analysis-python

https://towardsdatascience.com/exploratory-data-analysis-in-python-c9a77dfa39ce

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
iris = pd.read_csv('Data/EDA/iris.csv')
#iris.head()
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
iris.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
81,82,5.5,2.4,3.7,1.0,Iris-versicolor
135,136,7.7,3.0,6.1,2.3,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
85,86,6.0,3.4,4.5,1.6,Iris-versicolor

In [ ]:
from random import sample
randomIndex = np.array(sample(range(len(iris)), 5))
irisSample = iris.iloc[randomIndex]
print(irisSample)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
62    63            6.0           2.2            4.0           1.0
137  138            6.4           3.1            5.5           1.8
69    70            5.6           2.5            3.9           1.1
86    87            6.7           3.1            4.7           1.5
97    98            6.2           2.9            4.3           1.3

             Species
62   Iris-versicolor
137   Iris-virginica
69   Iris-versicolor
86   Iris-versicolor
97   Iris-versicolor

## Data description

In [ ]:
iris.shape

(150, 6)

In [ ]:
print(iris.columns)

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [ ]:
iris.describe()
#see a summary of the training dataset
iris.describe(include = "all")

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,150.000000,150.000000,150.000000,150.000000,150.000000,150
unique,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,Iris-virginica
freq,NaN,NaN,NaN,NaN,NaN,50
mean,75.500000,5.843333,3.054000,3.758667,1.198667,NaN
std,43.445368,0.828066,0.433594,1.764420,0.763161,NaN
min,1.000000,4.300000,2.000000,1.000000,0.100000,NaN
25%,38.250000,5.100000,2.800000,1.600000,0.300000,NaN
50%,75.500000,5.800000,3.000000,4.350000,1.300000,NaN
75%,112.750000,6.400000,3.300000,5.100000,1.800000,NaN
max,150.000000,7.900000,4.400000,6.900000,2.500000,NaN

In [ ]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Id               150 non-null int64
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.1+ KB

In [ ]:
iris['Species'].value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: Species, dtype: int64

In [ ]:
iris.groupby(['SepalWidthCm'])['Species'].count()

SepalWidthCm
2.0     1
2.2     3
2.3     4
2.4     3
2.5     8
2.6     5
2.7     9
2.8    14
2.9    10
3.0    26
3.1    12
3.2    13
3.3     6
3.4    12
3.5     6
3.6     3
3.7     3
3.8     6
3.9     2
4.0     1
4.1     1
4.2     1
4.4     1
Name: Species, dtype: int64

In [ ]:
iris.groupby(['Species','SepalWidthCm'])['Species'].count()

Species          SepalWidthCm
Iris-setosa      2.3              1
                 2.9              1
                 3.0              6
                 3.1              5
                 3.2              5
                 3.3              2
                 3.4              9
                 3.5              6
                 3.6              2
                 3.7              3
                 3.8              4
                 3.9              2
                 4.0              1
                 4.1              1
                 4.2              1
                 4.4              1
Iris-versicolor  2.0              1
                 2.2              2
                 2.3              3
                 2.4              3
                 2.5              4
                 2.6              3
                 2.7              5
                 2.8              6
                 2.9              7
                 3.0              8
                 3.1              3
                 3.2              3
                 3.3              1
                 3.4              1
Iris-virginica   2.2              1
                 2.5              4
                 2.6              2
                 2.7              4
                 2.8              8
                 2.9              2
                 3.0             12
                 3.1              4
                 3.2              5
                 3.3              3
                 3.4              2
                 3.6              1
                 3.8              2
Name: Species, dtype: int64

## Data cleaning

### Melbourne housing data

Suburb: Suburb

Address: Address

Rooms: Number of rooms

Price: Price in Australian dollars

Method:
S - property sold;
SP - property sold prior;
PI - property passed in;
PN - sold prior not disclosed;
SN - sold not disclosed;
NB - no bid;
VB - vendor bid;
W - withdrawn prior to auction;
SA - sold after auction;
SS - sold after auction price not disclosed.
N/A - price or highest bid not available.

Type:
br - bedroom(s);
h - house,cottage,villa, semi,terrace;
u - unit, duplex;
t - townhouse;
dev site - development site;
o res - other residential.

SellerG: Real Estate Agent

Date: Date sold

Distance: Distance from CBD in Kilometres

Regionname: General Region (West, North West, North, North east …etc)

Propertycount: Number of properties that exist in the suburb.

Bedroom2 : Scraped # of Bedrooms (from different source)

Bathroom: Number of Bathrooms

Car: Number of carspots

Landsize: Land Size in Metres

BuildingArea: Building Size in Metres

YearBuilt: Year the house was built

CouncilArea: Governing council for the area

Lattitude: Self explanitory

Longtitude: Self explanitory

In [ ]:
melb = pd.read_csv('Data/EDA/melb_data.csv')
melb.head()
melb.shape

(13580, 21)

In [ ]:
melb.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [ ]:
melb.select_dtypes(['object']).columns

Index(['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date', 'CouncilArea',
       'Regionname'],
      dtype='object')

In [ ]:
pd.isnull(melb)

In [ ]:
melb.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [ ]:
# Calculate the mean
mean = np.mean(melb.Price)
mean

1075684.079455081

In [ ]:
melb['Suburb'].value_counts()

Reservoir             359
Richmond              260
Bentleigh East        249
Preston               239
Brunswick             222
Essendon              220
South Yarra           202
Glen Iris             195
Hawthorn              191
Coburg                190
Northcote             188
Brighton              186
Kew                   177
Balwyn North          171
Pascoe Vale           171
Yarraville            164
St Kilda              162
Glenroy               159
Port Melbourne        153
Moonee Ponds          149
Carnegie              146
Bentleigh             139
Thornbury             139
Brighton East         138
Newport               137
Footscray             132
Camberwell            132
Elwood                131
Ascot Vale            130
Hampton               130
                     ...
Kooyong                 2
Hurstbridge             2
Beaconsfield            2
North Warrandyte        2
Deepdene                2
Williams Landing        2
Keilor Lodge            2
Skye                    2
Chirnside Park          2
Yarra Glen              1
Sandhurst               1
Beaconsfield Upper      1
Whittlesea              1
Healesville             1
Croydon South           1
Riddells Creek          1
Upwey                   1
New Gisborne            1
Emerald                 1
Rockbank                1
Wonga Park              1
Montrose                1
Monbulk                 1
Brookfield              1
Attwood                 1
Officer                 1
Plumpton                1
Bullengarook            1
Bacchus Marsh           1
Wallan                  1
Name: Suburb, Length: 314, dtype: int64

In [ ]:
melb.groupby(['Suburb'])['Price'].mean()

Suburb
Abbotsford            1.060366e+06
Aberfeldie            1.277455e+06
Airport West          7.566567e+05
Albanvale             5.370833e+05
Albert Park           1.941355e+06
Albion                5.931463e+05
Alphington            1.400824e+06
Altona                8.348304e+05
Altona Meadows        6.717500e+05
Altona North          8.008304e+05
Ardeer                6.673333e+05
Armadale              1.496716e+06
Ascot Vale            1.053227e+06
Ashburton             1.728725e+06
Ashwood               1.154674e+06
Aspendale             1.125286e+06
Aspendale Gardens     8.852500e+05
Attwood               6.400000e+05
Avondale Heights      8.059932e+05
Bacchus Marsh         2.850000e+05
Balaclava             7.488333e+05
Balwyn                1.869879e+06
Balwyn North          1.793405e+06
Bayswater             7.596429e+05
Bayswater North       7.065000e+05
Beaconsfield          6.035000e+05
Beaconsfield Upper    6.750000e+05
Beaumaris             1.725056e+06
Bellfield             8.225312e+05
Bentleigh             1.279500e+06
                          ...
Travancore            1.010450e+06
Truganina             4.628700e+05
Tullamarine           6.105000e+05
Upwey                 5.750000e+05
Vermont               1.084000e+06
Vermont South         1.228692e+06
Viewbank              9.335915e+05
Wallan                3.660000e+05
Wantirna              9.931667e+05
Wantirna South        1.102864e+06
Warrandyte            1.219200e+06
Waterways             1.248500e+06
Watsonia              7.487558e+05
Watsonia North        7.635000e+05
Werribee              5.107540e+05
West Footscray        7.863000e+05
West Melbourne        9.945161e+05
Westmeadows           6.218571e+05
Wheelers Hill         1.251488e+06
Whittlesea            6.010000e+05
Williams Landing      5.325000e+05
Williamstown          1.312481e+06
Williamstown North    8.708684e+05
Windsor               9.721167e+05
Wollert               5.018111e+05
Wonga Park            9.000000e+05
Wyndham Vale          4.832500e+05
Yallambie             8.396875e+05
Yarra Glen            6.200000e+05
Yarraville            9.886155e+05
Name: Price, Length: 314, dtype: float64

In [ ]:
# Drop rows with missing values
melb.dropna(axis=0)

In [ ]:
# Drop columns with missing values 
melb.dropna(axis=1)

In [ ]:
obj_cats = ['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'CouncilArea','Regionname']

for colname in obj_cats:
    melb[colname] = melb[colname].astype('category')

In [ ]:
melb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
Suburb           13580 non-null category
Address          13580 non-null category
Rooms            13580 non-null int64
Type             13580 non-null category
Price            13580 non-null float64
Method           13580 non-null category
SellerG          13580 non-null category
Date             13580 non-null object
Distance         13580 non-null float64
Postcode         13580 non-null float64
Bedroom2         13580 non-null float64
Bathroom         13580 non-null float64
Car              13518 non-null float64
Landsize         13580 non-null float64
BuildingArea     7130 non-null float64
YearBuilt        8205 non-null float64
CouncilArea      12211 non-null category
Lattitude        13580 non-null float64
Longtitude       13580 non-null float64
Regionname       13580 non-null category
Propertycount    13580 non-null float64
dtypes: category(7), float64(12), int64(1), object(1)
memory usage: 2.3+ MB

In [ ]:
melb.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Rooms,13580.0,2.937997e+00,0.955748,1.00000,2.000000,3.000000,3.000000e+00,1.000000e+01
Price,13580.0,1.075684e+06,639310.724296,85000.00000,650000.000000,903000.000000,1.330000e+06,9.000000e+06
Distance,13580.0,1.013778e+01,5.868725,0.00000,6.100000,9.200000,1.300000e+01,4.810000e+01
Postcode,13580.0,3.105302e+03,90.676964,3000.00000,3044.000000,3084.000000,3.148000e+03,3.977000e+03
Bedroom2,13580.0,2.914728e+00,0.965921,0.00000,2.000000,3.000000,3.000000e+00,2.000000e+01
Bathroom,13580.0,1.534242e+00,0.691712,0.00000,1.000000,1.000000,2.000000e+00,8.000000e+00
Car,13518.0,1.610075e+00,0.962634,0.00000,1.000000,2.000000,2.000000e+00,1.000000e+01
Landsize,13580.0,5.584161e+02,3990.669241,0.00000,177.000000,440.000000,6.510000e+02,4.330140e+05
BuildingArea,7130.0,1.519676e+02,541.014538,0.00000,93.000000,126.000000,1.740000e+02,4.451500e+04
YearBuilt,8205.0,1.964684e+03,37.273762,1196.00000,1940.000000,1970.000000,1.999000e+03,2.018000e+03
Lattitude,13580.0,-3.780920e+01,0.079260,-38.18255,-37.856822,-37.802355,-3.775640e+01,-3.740853e+01
Longtitude,13580.0,1.449952e+02,0.103916,144.43181,144.929600,145.000100,1.450583e+02,1.455264e+02
Propertycount,13580.0,7.454417e+03,4378.581772,249.00000,4380.000000,6555.000000,1.033100e+04,2.165000e+04

### Interpolation

Alternatively, you can also choose to interpolate missing values: the interpolate() function will perform a linear interpolation at the missing data points to “guess” the value that is most likely to be filled in.

In [ ]:
melb_interpolated = melb.interpolate()

In [ ]:
melb_interpolated.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        1
YearBuilt           1
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

## Querying and indexing data

In [ ]:
# Petal length greater than sepal length?
iris.query('PetalLengthCm > SepalLengthCm')

# Petal length equals sepal length?
iris.query('PetalLengthCm == SepalLengthCm')

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [ ]:
melb.query('Price >7000000')

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
7692,Canterbury,49 Mangarra Rd,5,h,8000000.0,VB,Sotheby's,13/05/2017,9.0,3126.0,...,5.0,4.0,2079.0,464.3,1880.0,Boroondara,-37.81790,145.06940,Southern Metropolitan,3265.0
9575,Hawthorn,49 Lisson Gr,4,h,7650000.0,S,Abercromby's,17/06/2017,5.3,3122.0,...,2.0,4.0,1690.0,284.0,1863.0,Boroondara,-37.82652,145.03052,Southern Metropolitan,11308.0
12094,Mulgrave,35 Bevis St,3,h,9000000.0,PI,Hall,29/07/2017,18.8,3170.0,...,1.0,1.0,744.0,117.0,1960.0,Monash,-37.93168,145.16126,South-Eastern Metropolitan,7113.0

## Correlation

In statistics, correlation or dependence is any statistical relationship, whether causal or not, between two random variables or bivariate data. In the broadest sense correlation is any statistical association, though it commonly refers to the degree to which a pair of variables are linearly related

In [ ]:
# Pearson correlation
iris.corr()

# Kendall Tau correlation
iris.corr('kendall')

# Spearman Rank correlation
iris.corr('spearman')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.734054,-0.411539,0.868498,0.879045
SepalLengthCm,0.734054,1.000000,-0.159457,0.881386,0.834421
SepalWidthCm,-0.411539,-0.159457,1.000000,-0.303421,-0.277511
PetalLengthCm,0.868498,0.881386,-0.303421,1.000000,0.936003
PetalWidthCm,0.879045,0.834421,-0.277511,0.936003,1.000000